.header {
  margin: $base-space*3 0px;
  @include mobile {
    margin-top: $base-space;
  }
}
.header-logo {
  font-size: $heading-font-size;
  a {
    @extend %underline-on-hover-only;
  }
  @include mobile {
    font-size: $heading-font-size !important;
  }
}
.search-form {
  margin-top: $base-space;
  color: #ccc;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  @include mobile {
    opacity: 1;
  }
}
.header-archive-link {
  color: #999;
  @extend %underline-on-hover-only;
}
.article {
  margin-bottom: $base-space*4;
}
.article-title {
  a {
    @extend %underline-on-hover-only;
  }
  &.link-title {
    font-weight: normal;
    a {
      @extend %hide-underline-on-hover;
    }
  }
}
.article-date {
  margin-top: $base-space;
  a {
    @extend %underline-on-hover-only;
  }
  &.no-top-margin {
    margin-top: 0px;
  }
}
.markdown-content {
  h1,h2,h3,h4,h5,h6,p,ol,ul,table,iframe {
    margin-bottom: $base-space;
  }
  blockquote {
    margin-left: -15px;
    border-left:  3px solid $base-border-color;
    font-style: italic;
    padding-left: $base-space;
    @include mobile {
      margin-left: 0px;
    }
  }
  pre {
    padding: 11px 0px;
    margin-bottom: $base-space*2;
  }
  hr {
    margin: $base-space*2 0px;
  }
  ul {
    list-style: circle;
  }
  ol, ul {
    @include mobile {
      margin-left: $base-space + 3;
    }
  }
}
.comments {
  margin-top: $base-space;
}
.secondary-content {
  margin-bottom: $base-space*8;
}
.about, .article-link-list {
  padding: $base-space*2 0;
  border-top: 1px solid ($base-border-color - #111);
}
.author-photo {
  float: right;
  width: $base-space*6;
  margin: 0 0 $base-space $base-space;
}
.section-title {
  font-size: $subheading-font-size;
  margin-bottom: $base-space;
}
.article-link-list {
  ul {
    margin-bottom: $base-space*2;
  }
  li {
    margin-bottom: $base-space;
  }
}
.article-link {
  margin-bottom: $base-space;
}
.article-link-log {
  text-decoration: none;
  .log-arrow-down {
    display: none;
  }
  &:hover, &.activated {
    .log-arrow-right {
      display: none;
    }
    .log-arrow-down {
      display: inline;
    }
  }
  &.activated {
    cursor: default;
    .article-link-log-text {
      text-decoration: none;
    }
  }
}
.article-link-log-text {
  @extend %hide-underline-on-hover;
  font-weight: bold;
}
.article-logs {
  display: none;
  padding-bottom: $base-space*30;
}
.current-article-indicator {
  color: #999;
}
