@mixin big-monitor {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}
@mixin medium-monitor {
  @media only screen and (max-width: 1200px) and (min-width: 1024px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 719px) {
    @content
  }
}
%underline-on-hover-only {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
%hide-underline-on-hover {
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}