$base-font-size: 15px;
$heading-font-size: 24px;
$subheading-font-size: 18px;
$small-font-size: 12px;
$base-line-height: 1.6;
$base-space: ($base-font-size * $base-line-height) / 2;
$base-color: #444;
$base-color-light: #999;
$base-border-color: #eee;
