<!doctype html>
<html lang="ja">
<head>
  <title>
    {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
  </title>
  <meta charset="UTF-8">
  <meta content="width=device-width, intial-scale=1.0" name="viewport">
  <meta property="fb:admins" content="{{ site.code.fb_admins }}"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:url" content="http://{{ site.settings.host_name }}{% if page.url !='/index.html' %}{{ page.url }}/{% endif %}"/>
  {% if site.author.optional.photo %}
    <meta property="og:image" content="{{ site.author.optional.photo }}"/>
  {% endif %}
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <link href='http://fonts.googleapis.com/css?family=Alegreya:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/shinayaka.css">
</head>
<body>
  <div class="container_12">
    <div class="header clearfix">
      <div class="grid_7">
        <h1 class="header-logo"><a href="/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>
        <form action="http://duckduckgo.com" method="get" class="search-form">
          <input type="text" placeholder="サイト内を検索" name="q">
          /
          <a class="header-archive-link js-header-archive-link">過去ログ</a>
          <input type="hidden" name="sites" value="{{ site.settings.host_name }}">
        </form>
      </div>
      <div class="grid_4 prefix_1">
        <ul>
          <li>
            <a href="http://twitter.com/{{ site.author.twitter }}" target="_blank">@{{ site.author.twitter }}</a>
            {% if site.author.optional.gplus %}
              / <a href="{{ site.author.optional.gplus }}?rel=author" target="_blank">g+</a>
            {% endif %}
          </li>
          <li>
            <a href="http://github.com/{{ site.author.github }}" target="_blank">github.com/{{ site.author.github }}</a>
          </li>
          <li>
            <a href="http://{{ site.author.website }}"  target="_blank">{{ site.author.website }}</a>
          </li>
          <li>
            <a href="mailto:{{ site.author.email }}">email</a>
            {% if site.settings.optional.license %}
              / <a href="{{ site.settings.optional.license }}" target="_blank">license</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <div class="content-area">
      {{ content }}
    </div>
  </div>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.code.google_analytics }}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript" src="/javascripts/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/shinayaka.js"></script>
</body>
</html>
